@media (hover:hover) {
    .menu__list-item:hover {
        color: rgba(255, 255, 255, 0.6);
        transition: all 0.3s ease;
    }
}

@media (hover: none) {
    .menu__list-item:active {
        color: rgba(255, 255, 255, 0.6);
    }
}